html, body {
    font-family: "Verdana";
    height: 100%;
    margin: 0;
    padding: 0;
}

#content a {
    text-decoration:none;
}

.post-text a:visited {
    text-decoration:none;
}
#content {
    color: black;
    display: inline;
    float: left;
    font-family: "Verdana";
    min-height: 85%;
    padding-left: 1%;
    width: 645px;
}

#head {
    font-family: "Verdana";
    /*font-size: 200%;*/
    height: 10%;
    width: 100%;
}
#wrapper {
    /*background: none repeat scroll 0 0 #F0F0F0;
    border-color: #A0A0A0;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: thin;*/
    height: auto !important;
    margin: 2% auto;
    min-height: 94%;
    overflow: hidden;
    position: relative;
    width: 650px;
}


#old {
    margin-right: 5px;
    float:right;
    text-align: right;
}

#title a {
    text-decoration: none;
    font-size: 50px;
}

.post-title {
    font-size: 40px;
}

.post {
    width: 100%;
}

.date {
    font-size: 14;

}

ul#list-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 650px;
}
ul#list-nav li {
    display: inline;
}
ul#list-nav li a {
    /*background: none repeat scroll 0 0 #000000;*/
    /*border-left: 1px solid #FFFFFF;*/
    color: #0f0f0f;
   float: left;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 161px;
}
ul#list-nav li a:hover {
   /* background: none repeat scroll 0 0 #A0A0A0;*/
    color: #b0b0b0;
} 

h2 {
    font-size: 30px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

h4 {
    font-size: 20px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}
