html, body {
    background-color: #F9F9F9;
    font-family: "Verdana";
    height: 100%;
    margin: 0;
    padding: 0;
    color: #262626;
}

#content a {
    color:#0EA00E;
    text-decoration:none;
}

.post-text a:visited {
    color:#0E500E;
    text-decoration:none;
}
#content {
    color: black;
    display: inline;
    float: left;
    font-family: "Verdana";
    min-height: 85%;
    padding-left: 1%;
    width: 650px;
}
#head {
    float: left;
    font-family: "Verdana";
    /*font-size: 200%;*/
    height: 10%;
    width: 100%;
}
#wrapper {
    /*background: none repeat scroll 0 0 #F0F0F0;
    border-color: #A0A0A0;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: thin;*/
    height: auto !important;
    margin: 2% auto;
    min-height: 94%;
    overflow: hidden;
    position: relative;
    width: 650px;
}


#old {
    margin-right: 5px;
    float:right;
    text-align: right;
}

#title a {
    text-decoration: none;
    font-size: 50;
    color:#0E500E;
}

.post-title {
    position: absolute;
    top: 0px;
    font-size: 40;
    color:#007000;

}

.post {
    padding-top: 60px;
    position: relative;
    width: 100%;
}

.date {
    position: absolute;
    top: 50px;
    font-size: 14;

}

